@import "reset.scss";
@import "media.scss";

body {
    line-height: 1;
    color: #000;
    font-family: "Roboto", sans-serif;
    background-color: rgb(65, 64, 64);
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 15px;
}

// №1
@media (max-width: 1140px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

// №2
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

// №3
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}

// Переменные-----------------------------------------------

//основной цвет
$main: green;

// Переменные end-------------------------------------------


.block {

    // .block__container

    &__container {}

    // .block__items

    &__items {
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        margin: 0px -15px;
    }

    // .block__item

    &__item {
        padding: 0px 15px;
        flex: 1 1 33.333%;
        min-width: 290px;
    }
}

.item-block {
    display: flex;
    flex-direction: column;
    height: 100%;

    @media (min-width: 1140px) {
        max-width: 350px;
    }

    // .item-block__picture

    &__picture {
        padding: 0px 0px 74.285% 0px;
        // 1110 - 30 row-gap - 30 row-gap / 3 = ширина 350 карточки товара
        //высота карточки по макету делим на ширину карточки по макету и умножаем на 100
        // 260/350*100=74,285
        // + технический  клас _ibg
    }

    // .item-block__image

    &__image {}

    // .item-block__body

    &__body {
        padding: 15px;
        display: flex;
        flex-direction: column;
        background-color: #333;
        flex: 1 1 auto;
        // позволяем увеличиваться боди

        *:not(:last-child) {
            margin: 0px 0px 15px 0px;
        }
    }

    &__title {
        font-size: 40px;
        color: #fff;
    }

    // .item-block__text

    &__text {
        line-height: 150%;
        color: #eee;
        font-size: 16px;
        flex: 1 1 100%;
        // прибиваем кнопку к низу
    }

    // .item-block__button

    &__button {
        padding: 10px 15px;
        text-align: center;
        color: #fff;
        background-color: $main;

        // два класса рядом, для уточняющего рядом класса
        &.button {
            background-color: #000;
        }

        // для вложенного класса
        .button {
            background-color: rgb(178, 13, 13);
        }

        &::before {
            content: '';

        }

        &::after {
            content: '';

        }

        &:hover {
            color: rgb(8, 207, 247);
        }

        // loading и кнопка, для динамических классов js
        .loading & {
            background-color: rgb(223, 104, 104);
        }
    }
}